de.morrien.nekeys.voice.command.OpenGuiVoiceCommand:voice:[open] ((voice settings)|(voice)|(speech settings)):VOICE_COMMANDS
de.morrien.nekeys.voice.command.ChatVoiceCommand:creative:((gamemode creative)|(creative)):/gamemode c
de.morrien.nekeys.voice.command.ChatVoiceCommand:survival:((gamemode survival)|(survival)):/gamemode s
