# Configuration file

animals {
    B:"Animals gain relationship when left outside"=true
    B:"Disable vanilla chickens from eggs"=false
    B:"Enable animal natural spawning"=true
    B:"Enable placing of chickens on your head"=true
    I:"Number of days animals take to mature"=14
    I:"Pregnancy > Chance of extra birth"=4
    I:"Pregnancy > Max litter size"=5
    I:"Pregnancy > Number of days"=7
    B:"Use vanilla models for animals"=true
}


buildings {
    B:"Enable demolition"=true
    B:"Use Cheat Buildings"=false
    B:"Use Full Building Render"=true
}


calendar {
    B:"24 hour clock"=false
    I:"Dedicated Server > Days per season"=6
    B:"HUD > Calendar Hide Texture"=true
    I:"HUD > Calendar X"=0
    I:"HUD > Calendar Y"=0
    B:"HUD > Enable data"=false
    B:"HUD > Enable gold"=false
    B:"HUD > Gold Hide Texture"=true
    I:"HUD > Gold X"=-31
    I:"HUD > Gold Y"=95
    I:"Integrated Server > Days per season"=30
    B:"Remove snow faster"=false
    I:"Ticks per day"=1734000
    B:"Weather -> Enable snow fog"=false
    B:"Weather > Enable blizzard"=false
    B:"Weather > Enable rain"=false
    B:"Weather > Enable snow"=false
    B:"Weather > Enable sunny"=false
    B:"Weather > Enable typhoon"=false
}


cooking {
    D:"Cooked Meals Sell Multiplier"=1.12
}


core {
    B:"Debug Mode"=false
    B:"Disable sleep between 6am and sunset"=false
    I:"Mobs in overworld only spawn under Y value"=55
    B:"Server doesn't update time when no players online"=false
    B:"Shipped items list > Enabled"=true
    I:"Shipped items list > Ticks Displayed"=500
    B:"Sleep any time of day"=true
}


crops {
    B:"Crops grow daily"=true
    B:"Dedicated Server > Crops die when not having been watered"=false
    B:"Disable seed drops from grass"=true
    B:"Disable vanilla drops"=false
    B:"Disable vanilla growth"=false
    B:"Disable vanilla hoes"=false
    B:"Disable vanilla moisture"=true
    B:"Disable vanilla seeds"=false
    B:"Enable bonemeal"=true
    B:"Integrated Server > Crops die when not having been watered"=true
    B:"Seasonal bonemeal"=false
    I:"Sprinkler's daily water consumption"=0
}


gathering {
    # The maximum distance at which stuff will spawn like flowers/junk around towns
    I:"Maximum distance for wilderness"=512

    # The minimum distance at which stuff will spawn like flowers/junk around towns
    I:"Minimum distance for wilderness"=48

    # The number of blocks to spawn around an individual town in the wilderness
    I:"Wilderness spawns amount"=256
}


mining {
    I:"Mining world ID"=4
    B:"Spawn dark animals on every floor instead of hordes"=false
}


npcs {
    D:"AI Range"=32.0
    D:"Distance between towns"=256.0
}


quests {
    I:"Logs for Carpenter"=24
}


shops {
    B:"Shops are open all the time"=false
}


tools {
    I:"Actions per half haunch"=27
    B:"Attack entities has chance of fainting"=false
    B:"Breaking blocks has chance of fainting"=false
    B:"Enable fainting when exhausted and timer is three quarters way"=false
    B:"Enable fainting when low on food"=true
    B:"Force the next day when a player faints and is sent to bed if possible"=true
    B:"Kill the player instead of fainting"=false
    B:"Performing Harvest Festival actions consumes hunger"=false
    B:"Restore hunger on fainting"=true
    B:"Restore hunger on sleep"=true
}


